/* General style Start*/

button, label, select {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

input {
	vertical-align: middle;
}

input[type=radio], input[type=file] {
    position: absolute;
	width: 1px;
    height: 1px; 
    margin: 0;
    padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
    border: 0;  
}

.select-wrapper:hover,
.new-file-wrapper:hover,
.uploaded-files-wrapper:hover,
select:hover,
.add-more-languages-button:hover,
legend:hover,
.payment-input-container input:hover,
.payment-method-info-container input:hover,
.upload-button:hover {
    border: 1px solid #5FCAC6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* General style End*/

body {
	background: #000;
	font-family: 'Roboto', sans-serif;
	counter-reset: section;
}

.wrapper {
	margin: 15px auto;
	width: 1310px;
	background: #eceef4;
}

.container {
	margin: 0 auto;
	width: 1036px;	
}

/* Header style Start*/

header {
	position: relative;
	padding: 60px 40px;
	text-align: center;
}

.backward { 
    position: absolute;
	top: 50%;
	left: 0;
	float: left;
	padding: 15px 33px;
	border: 1px solid #C9D0E1;
	border-radius: 5px;
	background: transparent;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #A5ABC5;
	transform: translateY(-50%);   
}

.backward:hover, .login:hover {
	border: 1px solid transparent;
} 

header button i {
	margin-right: 15px;
}

.login {
	position: absolute;
	top: 50%;
	right: 0;
	float: right;
	padding: 15px 31px;
	border: 1px solid #C9D0E1;
	border-radius: 5px;
	background: transparent;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #A5ABC5;
	transform: translateY(-50%);   
}

.header-button-hover-style {
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.header-button-hover-style::before,
.header-button-hover-style::after {
	position: absolute;
	z-index: -1;
	content: '';
	border-radius: inherit;
}
.header-button-hover-style::after {
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #eceef4;
}

.header-button-hover-style::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.header-button-hover-style:hover {
	color: #fff;
}

.header-button-hover-style:hover::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*
.logo img {
	opacity: 0.5;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;

}

.logo img:hover {
	opacity: 1;
	-moz-transform: rotate(360deg); 
	-webkit-transform: rotate(360deg); 
	-o-transform: rotate(360deg); 
	-ms-transform: rotate(360deg); 
	transform: rotate(360deg);
}
*/

.logo {
	position: relative;
	margin: 10px auto;
	display: block;
	width: 23px;
	height: 23px;
	background: #3E4459;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 15px solid #444A62;
	box-shadow: 0 0 0 15px #3E4459;
	transition: 1s;
}

.logo::after {
	content: '';
    position: absolute;
    left: 24px;
    top: 25px;
	width: 1px;
    height: 1px;
    border-top: 8px solid transparent;
    border-left: 20px solid #444A62;
    border-bottom: 8px solid transparent;
    -moz-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    -o-transform: rotate(44deg);
    transform: rotate(44deg);
}

.logo::before {
	position: absolute;
	top: -30px;
    left: -28px;
	width: 53px;
	height: 53px;
	display: block;	
	content: '';
	border: 15px solid transparent;
    border-radius: 50%;
}

.logo:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	transition: 1s;
}

header .logo {
	background: #DADDE7;
	border: 15px solid #ECEEF4;
    box-shadow: 0 0 0 15px #DADDE7;
}

header .logo::after {
	border-left: 20px solid #ECEEF4;	
}

/* Header style End*/

/* Main content style Start*/
main {
	border: 1px solid #C9D0E1;
	border-radius: 5px;
	background: #fff;
}

.order-help-wrapper {
	width: 100%;
	border-bottom: 2px solid #C9D0E1;
}

.order-wrapper {
	float: left;
	width: 63%;
	padding: 20px 30px 20px 35px;
	border-right: 2px solid #C9D0E1;
	
	
}

.help-wrapper {
	float: right;
	width: 23%;
	padding: 12px 44px 9px 30px;
}

.order-info h3, .help-wrapper h3 {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #77a;
    letter-spacing: 1px;
}

.order-info h3 i {
	margin: 5px 5px 0 0;
	font-size: 20px;
}

.order-captions {
	margin: 25px 0 0 33px;
}

.order-captions li {
	margin-right: 20px;
	display: inline-block;	
    font-size: 11px;
    font-weight: 700;
	text-transform: uppercase;
	color: #77a;
	
}

ul.order-captions ul > li {
	margin-top: 10px;
	text-transform: none;
	font-weight: 400;
	color: #abc;
}

.order-info {
	float: left;
}

.order-buttons {
	float: right;
	width: 154px;
}

.order-buttons button {
	width: 154px;
	height: 47px;
	border: 1px solid #C9D0E1;
	border-radius: 5px;
	background: #f7f7fa;
	cursor: pointer;
}

.order-buttons .place-order-button {
	margin-bottom: 10px;
	background: #5FCAC6;
}

.button {
    font-size: 11px;
    font-weight: 500;
	text-transform: uppercase;
	
}

.place-order-button {
	color: #fff;
}

.print-button {
	color: #abc
}

.help-wrapper h3 i {
	margin: 5px 5px 0 0;
	font-size: 20px;
}

.help-wrapper p {
	margin: 15px 0 15px 30px;
	line-height: 14px;	
    font-size: 12px;
    font-weight: 400;
	color: #abc;

}

.help-wrapper address {
	margin-left: 30px;
}

.help-wrapper address a {	
    font-size: 12px;
	font-weight: 500;
  	color: #77a;
	text-decoration: none;
}

.help-wrapper address a:first-child {
	margin-right: 10px;
}

form {
	padding: 0 100px;
}

form h2 {
	position: relative;
	margin: 100px 0 50px 0;
    font-size: 20px;
    font-weight: 400;
    color: #6E759D;	
}

form h2 span {
	font-weight: 300;
	font-size: 12px;
	color: #9FA5B8;
}

.translate-wrapper {
    margin-top: 90px;
}

.translate-wrapper .select-type:last-child {
	margin: 0;
}

.translate-wrapper h1 {
    margin-bottom: 65px;
	text-align: center;
}

.translate-wrapper h1 span {
	margin-bottom: 65px;
	padding: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #77a; 
    letter-spacing: 2px;
	border-bottom: 2px solid #C9D0E1;  
	text-transform: uppercase;
}

.select-wrapper {
	position: relative;
	display: block;
	width: 244px;
    height: 172px;
	z-index: 1;
	border: 1px solid #C9D0E1;
	background: #F7F7FA;
	border-radius: 5px;	
}

.translate-wrapper .select-wrapper span {
	display: block;
	margin-top: 15px;	
    font-size: 16px;
    font-weight: 500;
    color: #77a;
}

.select-type input[type=radio]:checked + .select-wrapper {
	box-shadow: inset 0px 0px 0px 5px #8be;
	border: 1px solid #fff;
}

input[type=radio]:focus + .select-wrapper {
	box-shadow: inset 0px 0px 0px 2px #5FCAC6;
	border: 1px solid #fff;
}

input[type=radio]:checked + .select-wrapper:after {
    position: absolute;
    top: -2px;
    right: -6px;
	z-index: 2;
	line-height: 14px;
    color: #8be;
	content: "\f058";
	font-family: 'FontAwesome';
    font-size: 29px; 
    background-color: #fff;   
	border-radius: 50%;
}

.translane-doc-type-label {
    width: 254px;
    height: auto;
    padding: 26px 0;
	
}

.select-type {
	margin-right: 29px;
    display: inline-block;  
    text-align: center;
	vertical-align: top;
}

.border-block {
	border: 1px solid #C9D0E1;
    border-radius: 5px;
}

.upload-button {
	position: relative;
	display: inline-block;
	padding: 15px 32px;
	z-index: 1;
	border: 1px solid #C9D0E1;
	background: #F7F7FA;
	border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #9FA5B8;
}

.upload-button i {
	padding-right: 10px;
}

input[type=file]:focus + label {
	border: 1px solid #5FCAC6;
}

.files-table {
    margin-top: 36px;
    padding: 22px 40px;
    display: block;
    border: 1px solid #C9D0E1;
	border-radius: 5px;
}

.files-table th, .files-table td {
	padding-right: 95px;
    padding-top: 10px;
	font-size: 12px;
	color: #9FA5B8;
}

.files-table th {
	padding-top: 0;
    text-align: left;
	text-transform: uppercase;  
	font-size: 15px;
    font-weight: 400;
    color: #9FA5B8;  
}

.files-table th:last-child, .files-table tr td:last-child {
    padding-right: 0;
    padding-left: 36px;
	text-align: center;
}

.files-table tr td:first-child i {
    padding-right: 10px;
}

.remove-button {
    border: none;
    background: transparent;
    color: #9FA5B8;
    font-size: 14px;   
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}



.uploaded-files-wrapper {
	margin-top: 35px;
	padding: 27px 40px;
	border: 1px solid #C9D0E1;
	border-radius: 5px;
	
}

.uploaded-files-wrapper ul li {
	display: inline-block;
	margin-right: 90px;	
    font-size: 15px;
    font-weight: 400;
    color: #9FA5B8;
	text-transform: uppercase;
}

.uploaded-files-wrapper .list-item li {
    display: inline;
	margin: 0;
	font-size: 12px;
	font-weight: 300;
	text-transform: lowercase;
}

.uploaded-files-wrapper ul li:last-child {
	margin: 0;
}

.uploaded-files-wrapper ul li:last-child .list-item li {
	text-align: center;
	cursor: pointer;
}

.list-item li p {
	margin-top: 20px;
}

.uploaded-files-wrapper ul li:first-child .list-item li p i {
    margin-right: 15px;
}

h2:before {
    position: absolute;
    left: -58px;
	top: -10px;
    width: 38px;
    height: 38px;
	line-height: 38px;
	counter-increment: section;
    content: counter(section);
    text-align: center;  
	border: 1px solid #6E768F;
    border-radius: 50%;
    
}

.languages-from-wrapper {
	position: relative;
}

.languages-from-wrapper p, .languages-to-wrapper p {
    float: left;
	width: 35px;
	line-height: 45px;
	text-align: right;
	text-transform: uppercase; 
    font-size: 12px;
    font-weight: 500;
    color: #9FA5B8;      
}

.select-languages-wrapper {	
    position: relative;
	display: inline-block;
	overflow: hidden;
}

.select-languages-wrapper:after, .select-extra-languages-wrapper:after {
    position: absolute;	
	top: 0px;
	right: 15px;
	height: 40px;
	padding: 18px 0 0 15px;
	pointer-events: none;
	content: "▼";
	font-size: 12px;
    color: #9098B8;  
    border-left: 1px solid #C9D0E1;   
}

.select-languages-wrapper:hover::after, 
.select-extra-languages-wrapper:hover::after {
	border-left-color: #5FCAC6;
}

.select-extra-languages-wrapper:after {
	right: 38px;
}

.select-language-from {
	padding: 15px 84px 15px 45px;
    margin-left: 15px;
    background: #f7f7f7;
	border: 1px solid #C9D0E1;
	border-radius: 3px;
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 13px;
    font-weight: 500;
    color: #9FA5B8;
}

.languages-to-wrapper {
	position: relative;
	margin-top: 35px;
}

.select-extra-languages-wrapper {
    position: relative;
	display: inline-block;	
	overflow: hidden;
}

.select-extra-languages-wrapper i {
	margin-left: 5px;
	font-size: 17px;
	color: #9098B8;
}

.add-more-languages-button-wrapper {
    position: relative;
    display: inline-block;
	overflow: hidden;
}

.add-more-languages-button {
	padding: 15px 30px;
    margin-left: 15px;
	text-transform: uppercase;
	font-size: 13px;
    font-weight: 500;
    color: #9FA5B8;
    background: #f7f7f7;
	border: 1px solid #C9D0E1;
	border-radius: 3px;	
}

.add-more-languages-button i {
	margin-right: 10px;
}

.desired-tone-wrapper {
	width: 49%;
	display: inline-block;  
	vertical-align: top;
}

.desired-tone-wrapper  .desire-ton-block {
	width: 213px;
    height: 60px;
    line-height: 60px;
}

.desired-tone-wrapper  .desire-ton-block i {
	margin-right: 10px;
}

.range-wrapper {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.desired-tone-wrapper .select-type {
	margin: 0 0 20px 0;
}

.desired-tone-wrapper .select-type:last-child {
	margin: 0;
}

.desire-ton-block i {
	font-size: 20px;
    color: #9098B8;	
} 

.desire-ton-block span {	
    font-size: 14px;
    font-weight: 490;
    color: #9098B8;
} 

input[type="range"] {
	position: relative;
	width: 365px;	
	margin-top: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;	
}

.range-wrapper input[type="range"]::-webkit-slider-thumb {
	position: relative;
	width: 17px;
	height: 17px;
	margin-top: -5px;
	z-index: 2;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #EDBE76;
	border-radius: 50%;	
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 365px;
	height: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #EFF0F5;
	border-radius: 10px;
}

input[type="range"]::after {
	position: absolute;
	width: 8px;
	height: 8px;
	display: block;
	z-index: 1;
	content: '';
	border-radius: 50%;
	background: #D6D8E2;
}

input[type="range"]::before {
	position: absolute;
	right: 0;
	z-index: 1;
	width: 8px;
	height: 8px;
	display: block;
	content: '';
	background: #D6D8E2;
	border-radius: 50%;	
}

.input-wrapper {
	text-align: center;
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #9FA5B8;	
}

.range-var {
	margin-top: 10px;
}

.range-var  li {
	float: left;
	width: 33.3%;   
}

.range-var li:first-child {
	text-align: left;
}

.range-wrapper h2 {
	margin: 100px 0 50px 48px;
}

.range-var li:last-child {
	text-align: right;
}

.color {
	color: #EDBE76;
}

.range-wrapper legend {
	margin-top: 68px;
    padding: 30px 40px 25px 60px;
    text-align: left;
    border: 1px solid #e6e8ee;
}

.range-wrapper legend h4 {
	position: relative;
	margin-bottom: 22px;
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #727895;	
}

.range-wrapper legend h4:before {
    position: absolute;
    top: -7px;
    left: -35px;
    content: "\f05a";
    font-family: 'FontAwesome';
    font-size: 24px;
}

.range-wrapper p {
	line-height: 18px;
    font-size: 11px;
    font-weight: 400;
    color: #9FA5B8;
}

.range-wrapper p span {
	text-transform: uppercase;
	font-weight: 550;
	color: #EDBE76;
}

.payment-wrapper p {
	margin-bottom: 45px;	
    font-size: 14px;
    font-weight: 500;
    color: #9FA5B8;
}

.payment-wrapper p a {
    font-size: 14px;
    font-weight: 500;
    color: #9FA5B8;
}

.payment-input-container {
    margin-top: 30px;
}

.payment-input-wrapper {
	position: relative;
	display: inline-block;
}

.payment-input-container .payment-input-wrapper input:invalid + label:last-child:after {
    position: relative;
    top: 3.5px;
    left: -35px;
    content: "\f057";
	font-family: 'FontAwesome';
    font-size: 24px;
    color: #E17776;
}

.payment-input-container .payment-input-wrapper input:valid + label:last-child:after {
    position: relative;
    top: 3px;
    left: -35px;
	font-family: 'FontAwesome';
    content: "\f058";
    font-size: 24px;
    color: #8be;
}

.payment-input-wrapper label:not(:last-child) {
	margin: 0 0 10px 10px;
    display: block;
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #9FA5B8;
}

.payment-input-wrapper input {
	width: 230px;
    padding: 15px;
    border: 1px solid #D7D9E0;
    border-radius: 5px;
}

.payment-method-container .payment-wrapper {
    width: 200px;
    height: 90px;
}

.payment-method-container .payment-wrapper img {
    position: relative;
    top: 50%;
	margin: 0;
    transform: translateY(-50%);
}

.payment-method-container {
	margin: 60px 0;
}

.payment-method-info-container {
	margin: 70px 0;
}

.payment-method-info-container input[name=card-number] {
    background-image: url(../img/visa-icon.png);
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
}

.payment-method-info-container input[name=expiry-date] {
	width: 155px;
	text-align: center;
}

.payment-method-info-container input[name=cvv-password] {
	width: 96px;
	text-align: center;
}

.confirm-container {
	margin-bottom: 65px;
	text-align: right;
}

.payment-method-info-container .payment-input-wrapper {
	margin-right: 20px;
}

.confirm-container .place-order-button {
    width: 154px;
    height: 47px;
    background: #5FCAC6;
    border: 1px solid #C9D0E1;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-container .print-button {
    width: 154px;
    height: 47px;
    border: 1px solid #C9D0E1;
    border-radius: 5px;
    background: #f7f7fa;
    cursor: pointer;
}

.confirm-container button p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
}

.button-hover-style-background {
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button {
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.button-hover-style-background::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	z-index: -1;
	content: '';
	background: #37474f;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 1s, opacity 1s, background-color 1s;
	transition: transform 1s, opacity 1s, background-color 1s;
}

.button-hover-style-background:hover {
	color: #fff;
}


.button-hover-style-background:hover::before {
	opacity: 1;
	background-color: #fff;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.place-order-button:hover::before {
	background-color: #f7f7fa;
}

.place-order-button:hover {
	color: #abc;
}

.print-button:hover::before {
	background-color: #5FCAC6;
}


.print-button .print-button:hover {
	color: #fff;
}

.confirm-container label, .confirm-container label a {
	font-size: 11px;
    font-weight: 500;
	color: #abc;
}



.confirm-container .place-order-button {
	margin: 0 25px 0 38px;
}
/* Main content style End */

/* Footer style Start */
footer {
    margin-top: 88px;
    padding: 90px 137px;
	color: #C6CDE7;
    background: #444A62;
}

footer section {
	float: left;
    width: 210px;
	margin-left: 30px;
	padding-left: 20px;
	display: inline-block;
    vertical-align: top;

}

footer .address {
	margin-left: 90px;
}

.address p {
	line-height: 22px;
}

footer .social {
	margin-left: 100px;
}


footer section h5 i {
    position: absolute;
    left: -40px;
    top: -5px;
}

footer section h5 {
	position: relative;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
}

footer section p, footer section a  {
	line-height: 15px;
	font-size: 11px;
	color: #C6CDE7;
}

footer section p em {
	font-style: italic;
}

footer section .title i {
	font-size: 20px;
}

footer section li {
	line-height: 21px;
}

footer section a {
	text-decoration: none;
}

footer .social li a i {
	margin-right: 15px;
	font-size: 14px;
}

footer .logo img {
	width: 90px;
}

footer .logo  {
	float: right;
	margin: 10px 15px;
	font-size: 0px;
}

/* Footer style End */
